{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <!-- /.col-->
    <div class="col-sm-6 col-lg-4">
        <div class="card text-white bg-info">
            <div class="card-body pb-0">
                <div class="text-value"><i class="fa fa-users"></i> {{ total_client_count }}</div>
                <div>Total Customers</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart2" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-4">
        <div class="card text-white bg-warning">
            <div class="card-body pb-0">
                <div class="text-value"><i class="fa fa-info-circle"></i> {{ total_product_count }}</div>
                <div>Total Products</div>
            </div>
            <div class="chart-wrapper mt-3" style="height:70px;">
                <canvas class="chart" id="card-chart3" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-4">
        <div class="card text-white bg-danger">
            <div class="card-body pb-0">
                <div class="text-value"><i class="fa fa-user"></i> {{ total_employee_count }}</div>
                <div>Employees</div>
            </div>
            <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart4" height="70"></canvas>
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>

<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-header">Customers Information</div>
            <br>

            <div class="row">
                <div class="col">
                    <div class="card card-body">
                        <form action="" method="get">
                            {{ client_filter_search.form }}
                            <button class="btn btn-primary" type="submit">Search</button>
                      </form>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="col-md-4">
                    <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_client' %}"> Create Customer <i class="fa fa-plus"></i> </a>
                </div>
                <br>
                <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center">
                                <i class="fa fa-image"></i>
                            </th>
                            <th><i class="icon-people"></i> Customer</th>
                            <th><i class="fa fa-calculator"></i> Date Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if clients %}
                            {% for client in clients %}
                                <tr>
                                    <td class="text-center">
                                        <div class="avatar">
                                            <img class="img-avatar" src="{{ client.avatar.url }}" alt="Customer Photo">
                                        </div>
                                    </td>
                                    <td class="text-capitalize">{{ client.name }}</td>
                                    <td>{{ client.date_created }}</td>
                                    <td>
                                        <a href="{% url 'clients_detail' client.id %}" class="btn btn-sm btn-success">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p><b>There is no Customers Available!</b></p>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
            <nav aria-label="...">
    {% if clients.has_other_pages %}
        <ul class="pagination">
            {% if clients.has_previous %}
                <li class="page-item">
                    <a href="?page={{clients.previous_page_number}}" class="page-link">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}
            {% for i in clients.paginator.page_range %}
                {% if clients.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if clients.has_next %}
                <li class="page-item">
                    <a href="?page={{clients.next_page_number}}" class="page-link">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</nav>
    </div><!-- /.col-->
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">Categories</div>
            <br>

            <div class="row">
                <div class="col">
                    <div class="card card-body">
                        <form action="" method="get">
                            {{ category_filter_search.form }}
                            <button class="btn btn-primary" type="submit">Search</button>
                      </form>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="col-md-7">
                    <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_category' %}"> Create Category <i class="fa fa-plus"></i> </a>
                </div>
                <br>
                <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th> SL</th>
                            <th> Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if categories %}
                            {% for cat in categories %}
                                <tr>
                                    <td class="text-capitalize">{{ forloop.counter }}</td>
                                    <td class="text-capitalize">{{ cat.name }}</td>
                                    <td>
                                        <a href="{% url 'single_category' cat.id %}" class="btn btn-sm btn-success">View</a>
                                        <a href="{% url 'edit_category' cat.id %}" class="btn btn-sm btn-info"><i class="fa fa-info"></i></a>
                                        <a href="{% url 'delete_category' cat.id %}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <p><b>There is no Category Available!</b></p>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <nav aria-label="...">
    {% if categories.has_other_pages %}
        <ul class="pagination">
            {% if categories.has_previous %}
                <li class="page-item">
                    <a href="?page={{categories.previous_page_number}}" class="page-link">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
            {% endif %}
            {% for i in categories.paginator.page_range %}
                {% if categories.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if categories.has_next %}
                <li class="page-item">
                    <a href="?page={{categories.next_page_number}}" class="page-link">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Next</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</nav>
    </div><!-- /.col-->
</div>

{% endblock %}

